body {
  background-color: #efefef;
  font-family: cursive;
}

.container {
  margin: 10%;
  width: 80%;
  height: 100%;
  background-color: #333;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  padding: 1% 3% 1% 3%;
  align-items: center;
  justify-content: space-between;
}

.fa-refresh {
  color: #1976d2;
}

.title {
  color: #fff;
}

.input {
  display: flex;
  padding: 1% 3% 1% 3%;
  align-items: center;
  justify-content: space-between;
}

.toDo {
  border: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-family: cursive;
  font-size: 15px;
  outline: none;
}

.task {
  display: flex;
  padding: 1% 3% 1% 3%;
  align-items: center;
  border-bottom: 2px solid #efefef;
  justify-content: space-between;
}

.clear {
  text-align: center;
  padding: 1% 3% 1% 3%;
  background-color: #efefef;
}

hr {
  margin: 0;
  color: #efefef;
}

.material-icons-outlined {
  cursor: pointer;
  color: #333;
}

.delete {
  color: red;
}

.list {
  border-bottom: 2px solid #efefef;
}

.listItems {
  color: #1976d2;
}
