body {
  background-color: #efefef;
  font-family: cursive;
  overflow-x: hidden;
}

.container {
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 50px;
  padding: 40px;
}

li {
  list-style-type: none;
}

.header {
  margin: 20px;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.fa-refresh {
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #007bff;
}

/* Input Event Tasks */
.inputTask {
  margin: auto;
}

.event {
  border: none;
  padding: 15px;
  font-size: 15px;
}

/* List Of Event */
.eventTask {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #efefef;
  margin: 25px;
}

.eventChecks {
  display: flex;
  margin-right: auto;
}

.delete {
  font-size: 20px;
  color: #333;
}

.material-icons-outlined {
  cursor: pointer;
  color: #333;
}

/* Clear Field btn */

.clearEvent {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

.clearField {
  text-align: center;
}
