body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: #efefef;
}

  .container {
    width: 100vw;
    padding: 50px;
    margin-left: auto;
  }


.text-title {
  font-size: 30px;
  padding: 10px;
  border-bottom: 2px solid #efefef;
}

.description {
  padding-left: 10px;
}

.checked {
  text-decoration: line-through;
  color: rgb(15, 146, 179);
}

.list-group-item {
  list-style-type: none;
  border-bottom: 2px solid #efefef;
  margin-left: -40px;
}

.list-todo {
  display: flex;
  margin: 15px 15px;
  justify-content: space-between;
  align-content: center;
}

.card {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  width: 50%;
  background-color: #fff;
  padding: 1px 20px;
}

.group-items {
  display: flex;
}

.fas {
  font-weight: 900;
  align-self: flex-end;
}

.form-control {
 padding: 20px;
 border: none;
 font-family: cursive;
 font-size: 15px;
 border-bottom: 2px solid #efefef;
 
}

.btn-clear1 {
  border: none;
  font-weight: bold;
  padding: 20px;
  font-family: cursive;
  font-size: 17px;
  width: 100%;
  cursor: pointer;
  background-color: #efefef;
  color: #333;
}
