body {
  background-color: #efefef;
  font-family: cursive;
}

.completed {
  cursor: pointer;
  border: none;
}

.list-container {
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}
